<!DOCTYPE html>
	<html lang="et">
	<head>
	<meta charset="utf-8">
	<title>Karmen Kõiv, veebiprogrammeerimine</title>
	</head>
			<body>
			<img src="/pildid/vp_banner_2025_ID.jpg" alt="kursuse bänner">
			
			<h1>Karmen Kõiv, veebiprogrammeerimine</h1>
			<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
			 <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2><%= heading %></h2>
  <ol><% listData.forEach(function(listItem){ %>
	<li><%= listItem %></li><% }); %>
  </ol>
</body>
</html>